<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReRover - LFS | Footer</title>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Outfit:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="components/footer.css">
</head>
<body>
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="contact-info">
                    <h3>Contact us:</h3>
                    <div class="contact-details">
                        <p>Email: lfs@rerover.com</p>
                        <p>Phone: (+84) 367-658-216</p>
                        <p>Address: International University, VNU-HCM
                            <br>Quarter 6, Linh Trung Ward, Thu Duc, HCMC</p>
                    </div>
                </div>
                
                <div class="newsletter">
                    <input type="email" placeholder="Email" id="newsletterEmail">
                    <button onclick="subscribeNewsletter()">Subscribe to news</button>
                </div>
            </div>
            
            <div class="footer-bottom">
                <p>© 2025 ReRover. All Rights Reserved.</p>
                <a href="#privacy">Privacy Policy</a>
            </div>
        </div>
    </footer>

    <script src="components/header-footer.js"></script>
</body>
</html>